{% extends "base.html" %}

{% load static %}

{% block page_title %}
    Поиск
{% endblock %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'form.css' %}">
    
{% endblock %}

{% block page %}

<div class="page-title">
    Поиск данных
</div>




    
    <div id="other-forms">
        
            <form id="search-form" method="post" action="{% url 'search' %}">
               	{{ form.media }}
		    <div class="split-form">
                    <div>
                        <div class="field-label">Временной интервал</div>
                        <div>
                            <div>{{ form.ts_start.label }}</div>
                            <div>{{ form.ts_start }}</div>
			    <div>
		    		{{ form.errors.ts_start }}
				</div> 
                        </div>
                        <div>
                            <div>{{ form.ts_end.label }}</div>
                            <div>{{ form.ts_end }}</div>
				<div>
		    		{{ form.errors.ts_end }}
				</div> 
                        </div>
		   	 <div>{{ form.non_field_errors }}</div>
                    </div>
                    <div>
                        <div  class="field-label">{{ form.sources.label }}</div>
                        <div>{{ form.sources }}</div>
			<div>
		    		{{ form.errors.sources }}
			</div> 

                    </div>
                </div>
                {% csrf_token %}

                
                
                
        
                <button class="btn" type="submit" >Показать переменные</button>
            </form>
	{% if success %}        
        
        <div id="variables-place" hx-trigger="load"  hx-post="{% url 'variables' %}" hx-include="#search-form" hx-swap="outerHTML">
	    <img src="{% static 'loading_icon.gif' %}"> 

	</div>

	{% endif %}
    </div>








{% endblock %}


{% block page_js %}

<script src="{% static 'htmx.min.js' %}"></script>

<script src="{% static 'search.js' %}"></script>

<script>
    // $('.dateandtime').dateAndTime();
</script>

{% endblock %}
